.left-column
    .filters
        h2 Filtros
        h3 Data:
        .calendar-container
            div(id='calendar')
        h3 Categoria:
        each item in types
            .filter-option
                label.custom-checkbox
                    input(type='checkbox', name='filter', value=item.type)
                    span.checkmark
                    | #{item.type}
        h3 Ordenar por:
            .filter-option
                select(name='itemSelection', id='item-select')
                    - var items = ['Nenhum', 'Recente', 'Antigo', 'ID']
                    each item in items
                        option(value=item) #{item}
        // Button to apply filters
        button#apply-filters Apply Filters
        button#clear-filters Clear Filters