button.menu-button(onclick='openSidebar()')
    i.fa-solid.fa-bars
a(href="/")
    img.logo-dre(src='/images/DR.png', alt="Logo")
#sidebar
    button.close-button(onclick='closeSidebar()')
        i.fa-solid.fa-times
    h2 Menu
    ul
        li
            a(href="/") Início
        li#permited
            a(href="/create") Adicionar Documento
        li#permited
            a(href="/favorites") Favoritos
        li
            a(href="#") Contactos
        li
            a(href="#") Sobre
    div.bottom-options
        div.line
        div
            a(href='/export', id='exportButton')
                i.fa.fa-download(aria-hidden='true')
                | Exportar
            a(href='/import', id='importButton')
                i.fa.fa-upload(aria-hidden='true')
                | Importar
//form.search
    div.input-wrapper
        input(type="text", placeholder="Search...")
    button(type="submit")
        i.fa.fa-search
a(href='/login', id='loginButton')

script.
    document.addEventListener('DOMContentLoaded', function() {
            updateAuthenticationStatus();
    });

    function openSidebar() {
        var sidebar = document.getElementById('sidebar');
        sidebar.style.left = '0px';
    }
        
    function closeSidebar() {
        var sidebar = document.getElementById('sidebar');
        sidebar.style.left = '-400px';
    }
    
    function exportData() {
        // Add your export functionality here
        console.log('Data exported');
    }
    
    function importData() {
        // Add your import functionality here
        console.log('Data imported');
    }

    function isLoggedIn() {
        var l = document.cookie.indexOf('token') !== -1;
        console.log('Is logged in: ' + l);
        return l;
    }

    function updateAuthenticationStatus() {
        var loginButton = document.getElementById('loginButton');
        if (isLoggedIn()) {
            loginButton.href = '/logout'; 
            loginButton.innerHTML = '<i class="fa fa-power-off" aria-hidden="true"></i> Logout';
            document.querySelector('.bottom-options').style.display = 'flex';
            document.getElementById('permited').style.display = 'block'; 
        } else {
            loginButton.href = '/login'; 
            loginButton.innerHTML = '<i class="fa fa-user" aria-hidden="true"></i> Login';
            document.querySelector('.bottom-options').style.display = 'none';
            document.getElementById('permited').style.display = 'none'; 
        }

        console.log('Authentication status updated');
    }
