extends layout

block content
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="stylesheets/style.css")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
      script(src='https://cdn.jsdelivr.net/npm/flatpickr')
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap")
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body
      header
        include header
      main
        include filters
        include first-page

      // Pass the default date to JavaScript
      script.
        var defaultDate = '!{fdate}';

    script.
      document.addEventListener("DOMContentLoaded", function() {
        var currentUrl = window.location.href; // Gets the full URL

        var displayElement = document.getElementById('urlDisplay');
        if (displayElement) {
          displayElement.textContent = currentUrl;
        }
      });

      document.addEventListener('DOMContentLoaded', function() {
          var calendarInput = document.getElementById('calendar');

          flatpickr(calendarInput, {
              inline: true,
              static: true,
              defaultDate: new Date(defaultDate) || new Date()  // Use the default date or today's date if none provided
          });

          $('#filter-select').val('--Selecionar Categoria--');
          $('#item-select').val('--Selecionar Ordem--');
      });
      
      document.getElementById('loginButton').addEventListener('click', function() {
          window.location.href = '/#'; // Redirects to the login page
      });

      $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        const dateFromUrl = urlParams.get('date'); 

        var calendar = flatpickr("#calendar", {
            inline: true,
            static: true,
        });

        if (dateFromUrl) {
            calendar.setDate(new Date(dateFromUrl));
        } else {
            var savedDate = localStorage.getItem('selectedDate');
            if (savedDate) {
                calendar.setDate(new Date(savedDate));
            }
        }

        var savedFilter = localStorage.getItem('selectedFilter');
        if (savedFilter) {
            $('#item-select').val(savedFilter);
        }

        var savedDate = localStorage.getItem('selectedDate');
        if (savedDate) {
            calendar.setDate(savedDate);
        }

        var savedItem = localStorage.getItem('selectedItem');
        if (savedItem) {
            $('#item-select').val(savedItem);
        }

        $('#apply-filters').on('click', function() {
          var selectedFilters = [];
          var selectedDate = calendar.selectedDates[0];

          if (selectedDate) {
            var localDate = selectedDate.getFullYear() + '-' + (selectedDate.getMonth() + 1).toString().padStart(2, '0') + '-' + selectedDate.getDate().toString().padStart(2, '0');
            localStorage.setItem('selectedDate', localDate);
            selectedFilters.push("date=" + encodeURIComponent(localDate));
          } else {
            localStorage.removeItem('selectedDate');
          }

          var selectedItem = $('#item-select').val();
          localStorage.setItem('selectedItem', selectedItem);
          if (selectedItem && selectedItem !== '--Selecionar Ordem--') {
              selectedFilters.push("item=" + encodeURIComponent(selectedItem));
          }

          var selectedFilter = $('#filter-select').val();
          localStorage.setItem('selectedFilter', selectedFilter);
          if (selectedFilter && selectedFilter !== '--Selecionar Categoria--') {
              selectedFilters.push("filter=" + encodeURIComponent(selectedFilter));
          } 

          var queryParams = selectedFilters.join('&');

          if ($('#allDates').hasClass('clicked')) {
              queryParams += (queryParams ? '&' : '') + 'allDates=true';
          }
          
          if (queryParams) {
              window.location.href = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + queryParams;
          } else {
              window.location.href = window.location.protocol + "//" + window.location.host + window.location.pathname;
          }
        });

        $('#clear-filters').on('click', function() {
            localStorage.removeItem('selectedFilter');
            localStorage.removeItem('selectedDate');
            localStorage.removeItem('selectedItem');

            calendar.clear();
            $('#allDates').removeClass('clicked');
            $('#item-select').val('--Selecionar Ordem--');
            $('#filter-select').val('--Selecionar Categoria--');
        });

        $('#allDates').on('click', function() {
            $(this).toggleClass('clicked');
            localStorage.removeItem('selectedDate');
            calendar.clear();
        });
      });
