extends layout

block content
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="stylesheets/style.css")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
      script(src='https://cdn.jsdelivr.net/npm/flatpickr')
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap")
      script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body
      header
        include header  
      main
        .right-column
            .text-block 
                h1.blocky Área de Autenticação
            .text-block.form
                form(action="/login", method="POST", style='display: flex; flex-direction: column; align-items: center;')
                    label#login(for="nif") NIF:
                        input(type="nif", name="nif", id="nif", required)
                    label#login(for="password") Password:
                        .password-container
                            input(type="password", name="password", id="password", required)
                            button#eyePassword1(type="button",class="unhide-button")
                                i(class="fa-solid fa-eye")
                    .inline-block(style="margin-top: -25px; margin-bottom: 30px;")
                        a(href="/register") Registar
                        -var sep = ' | '
                        a #{sep}
                        a(href="") Esqueceu-se da password?
                    button(type="submit") Entrar
      script.
        $(document).ready(function(){
          $('#eyePassword1').click(function() {
            /*when click show password and when clicked again hide it*/
            var password = $('#password');
            var type = password.attr('type') === 'password' ? 'text' : 'password';
            password.attr('type', type);

            // Change the icon
            var icon = $('#eyePassword1 i');
            if(icon.hasClass('fa-eye')) {
              icon.removeClass('fa-eye');
              icon.addClass('fa-eye-slash');
            } else {
              icon.removeClass('fa-eye-slash');
              icon.addClass('fa-eye');
            }
          });

          if ("#{error_message}" !== "") {
            alert('#{error_message}');
          }
        });
