
body, html {
  height: 100%;
  margin: 0;
  background-color: #edecec;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 12px; 
  line-height: 1.5; 
  overflow-x: hidden; /* Prevent horizontal overflow */
}

nav.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: #0958b8;
}

a:visited {
  color: #125e32;
}

#edit-button, #deleteButton {
  background-color: #569ff7;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#edit-button:hover, #deleteButton:hover {
  background-color: #64b3f4;
}

#login {
  width : 320px;
}

.password-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}

.password-container input {
  width: 320px;
  margin-right: 5px;
}

.bottom-options {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center;
}

#eyePassword1, #eyePassword2 {
  position: relative;
  left: -50px;
  top: -5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #919191;
}

.bottom-options div {
  display: flex;
  gap: 30px;
}

#exportButton, #importButton {
  background-color: transparent; /* Makes the button background transparent */
  border: none; /* Removes any border */
  color: inherit; /* Inherits text color from its parent for consistency */
  font-size: 20px; /* Inherits font size from its parent */
  cursor: pointer; /* Changes the cursor to pointer to indicate it's clickable */
}

div.line {
  /* Draws a thin grey line  */
  border-top: 1px solid #d3d3d3;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#exportButton i, #importButton i{
  margin-right: 5px; /* Adds spacing between the icon and text */
}

#exportButton i:hover, #exportButton:hover, #importButton i:hover, #importButton:hover{
  color: #b2b1b3; /* Changes text and icon color on hover */
}

#sidebar .bottom-options {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.form label {
  font-size: 16px;
  margin-bottom: 10px;
  width: calc(100% - 60px); /* Adjusted to prevent overflow */
  max-width: 1000px;
}

#publication_date {
  margin-left: 20px;
  width: 180px; /* Adjusted to prevent overflow */
}

form {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.form form {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}


.form input, .form textarea, .form select {
  width: 100%;  /* This will make the input take the full width of its container */
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #626262; /* updated for clarity */
  margin-bottom: 20px;
  font-size: 18px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #569ff7;
  color: white;
  cursor: pointer;
  font-size: 16px;

  margin-top: 10px;
}

.page-item {
  padding: 6px 10px;
  border-radius: 6px;
  margin: 3px;
  background-color: white; /* Default background */
  color: #569ff7; /* Default text color */
  cursor: pointer;
  text-align: center;
  display: inline-block; /* Ensures it behaves like a button */
  text-decoration: none; /* No underline */
}

.page-item:link, .page-item:visited{
  color: #4e90e0; /* Default text color */
}

.page-item.active {
  background-color: #569ff7;
  color: white;
}

.page-item:hover {
  background-color: #82c3f8; /* Darker blue on hover */
  color: white;
}

header {
  display: flex;
  background-color: #ffff;
  color: #fff;
  padding: 10px 20px;
  height: 80px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}


header a {
  display: flex;
  align-items: center;
}

img.logo-dre {
  display: flex;
  align-items: flex;
  height: 50px;
  margin-left: 90px;
  padding-right: 40px;
}

.menu-button {
  border: none;
  background: none;
  align-items: center;
  position: relative;
  left: 40px;
}

.menu-button i {
  font-size: 30px;
  cursor: pointer;
  color: #626262;
}

.menu-button button {
  font-size: 24px;
  cursor: pointer;
}

.menu-button button, i:hover {
  color: #b2b1b3;
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  left: 350px;
}

.close-button i {
  font-size: 35px;
  cursor: pointer;
  color: #e1e1e1;
}

.close-button button {
  font-size: 24px;
  cursor: pointer;
}

.close-button button, i:hover {
  color: #919191;
}

main {
  display: flex;
  height: calc(100% - 48px); /* Adjust based on header height */
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  width: 100%;
}

#sidebar {
  position: fixed;
  left: -400px; /* Sidebar width */
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 1000;
  background-color: #626262;
  overflow-y: auto; /* Adds scroll to the sidebar if content is long */
  transition: left 0.3s; /* Smooth transition for sliding effect */
}

#sidebar h2 {
  color: #fff;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin: 0;
  font-size: 32px;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 50px;
  margin: 0;
}

#sidebar li {
  margin-bottom: 18px;
  font-size: 24px;
}

#sidebar a:link, #sidebar a:visited {
  color: #fff;
  text-decoration: none;
}

#sidebar a:hover {
  color: #adadad;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start; /* Aligns content to the start of the flex container */
}

.form form {
  padding: 60px 20px 60px 20px;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows the search to expand and contract */
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border-color: #626262;
  border-style: solid;
  border-width: 0.01cm;
  margin-left: 75px;
  width: 450px;
}

.search button {
  padding: 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #626262;
  cursor: pointer;
  font-size: 15.5px;
  margin-bottom: 11px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.search button i {
  color: #fff;
  font-size: 16px;
}

.search button:hover {
  background-color: #b2b1b3;
}

.right-column {
  margin: 40px 80px 20px 40px;
  width: calc(100% - 80px); /* Adjust to prevent overflow */
}

.left-column {
  margin: 40px 20px 20px 40px; 
}

.calendar-container {
  flex: 0 0 300px; /* Gives the calendar a fixed width */
  margin-right: 30px; /* Adds space between the calendar and the text blocks */
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

#calendar {
  margin-top: 0; /* Adjusts top margin to line up with the text blocks */
}

.block {
  padding: 15px;
}

.ministry {
  color: #626262;
}

.text-block, .text-block h1, .text-block h2, .text-block h3, .text-block p {
  margin-top: 0; /* Removes top margin from text block titles for alignment */
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.text-block {
  margin-bottom: 20px; /* Adds space between text blocks */
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

.text-block h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.text-block p, li {
  margin: 0; /* Removes default margin from paragraphs */
  font-size: 16px;
  text-align: justify;
}


.inline-links a {
  display: inline-block; 
  margin-right: 10px;    
}

.inline  {
  display: inline-block; 
  margin-right: 10px;    
}


.content p {
  margin-bottom: 20px; /* Adds space below each paragraph */
}

.block h1 {
  padding: 30px;
}

.blocky {
  margin-top: -10px;
  padding: 20px;
}

#loginButton {
  margin-left: auto; /* Aligns the button to the right */
  margin-bottom: 10px;
  padding: 8px 15px; /* Adjust padding as needed */
  background-color: #569ff7; /* Background color of the button */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  position: relative;
  right: 80px; /* Adjusted to prevent overflow due to the width */
}

#loginButton i{
  margin-right: 5px; /* Adds spacing between the icon and text */
}

#loginButton i:hover, #loginButton:hover {
  color: #ffff; /* Changes text and icon color on hover */
  background-color: #64b3f4;
}

/* When minimizing the width of the window the login */
/* button stops moving at a point */
@media (max-width: 600px) {
  #loginButton {
    right: -80px;
  }
}

#allDates.clicked{
  background-color: #2a7748;
}


.filters {
  font-size: 14px;
  background-color: #fff;
  padding: 10px 25px 25px 25px;
  width: 305px;
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

.filters h2 {
  font-size: 22px;
  margin-bottom: -30px;
}

.filters h3 {
  font-size: 18px;
  margin-top: 40px;
}

.filter-option {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 17px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container label {
  font-size: 18px;
  margin-bottom: 1px;
}

.container input {
  font-size: 18px;
  width: 100%;
}

.container textarea {
  font-size: 18px;
  height: 120px;
}

select {
  font-size: 18px;
  width: 260px;
}

option {
  white-space: pre-wrap;
  word-break: break-word;
}

.filters button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #569ff7;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 20px; /* Adjusted to prevent overflow */
}

.filters button:hover {
  background-color: #64b3f4;
}

.uppercase {
  text-transform: uppercase;
}

.right-column button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #569ff7;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.right-column button.active {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #569ff7;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.right-column button:hover {
  background-color: #8fccff;
  color: white;
}

p#error-message {
  font-size: large;
  color: rgb(185, 8, 8);
  margin-top: 10px;
}

p#error-message :hover{
  font-size: large;
  color: rgb(185, 8, 8);
  margin-top: 10px;
}

#heart-button {
  padding: 0px;
  font-size: 26px;
  color: #f75679;
  background-color: transparent;
  border: none;
}

#heart-button i:hover, #heart-button:hover {
  color: #fba4b6;
  background-color: transparent;
}

.bts button {
  margin-right:27px;
  margin-top: 10px;
  padding: 0px;
}

.bts  {
  display: flex;
  justify-content: center;
}