body, html {
  height: 100%;
  margin: 0;
  background-color: #edecec;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 12px; 
  line-height: 1.5; 
  overflow-x: hidden; /* Prevent horizontal overflow */
}

a {
  text-decoration: none;
}

a:link {
  color: #0958b8;
}

a:visited {
  color: #125e32;
}

header {
  display: flex;
  background-color: #ffff;
  color: #fff;
  padding: 10px 20px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.logo-dre {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 90px;
  padding-right: 40px;
}

.logo-dre img {
  width: 20px;
  height: 20px;
}

.menu-button {
  border: none;
  background: none;
  align-items: center;
  position: relative;
  left: 40px;
}

.menu-button i {
  font-size: 30px;
  cursor: pointer;
  color: #626262;
}

.menu-button button {
  font-size: 24px;
  cursor: pointer;
}

.menu-button button, i:hover {
  color: #b2b1b3;
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  left: 350px;
}

.close-button i {
  font-size: 35px;
  cursor: pointer;
  color: #e1e1e1;
}

.close-button button {
  font-size: 24px;
  cursor: pointer;
}

.close-button button, i:hover {
  color: #919191;
}

main {
  display: flex;
  height: calc(100% - 48px); /* Adjust based on header height */
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  width: 100%;
}

#sidebar {
  position: fixed;
  left: -400px; /* Sidebar width */
  top: 0;
  height: 100%;
  width: 400px;
  z-index: 1000;
  background-color: #626262;
  overflow-y: auto; /* Adds scroll to the sidebar if content is long */
  transition: left 0.3s; /* Smooth transition for sliding effect */
}

#sidebar h2 {
  color: #fff;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin: 0;
  font-size: 32px;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 50px;
  margin: 0;
}

#sidebar li {
  margin-bottom: 18px;
  font-size: 24px;
}

#sidebar a:link, #sidebar a:visited {
  color: #fff;
  text-decoration: none;
}

#sidebar a:hover {
  color: #adadad;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows the search to expand and contract */
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border-color: #626262;
  border-style: solid;
  border-width: 0.01cm;
  margin-left: 75px;
  width: 450px;
}

.search button {
  padding: 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #626262;
  cursor: pointer;
  font-size: 15.5px;
  margin-bottom: 11px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.search button i {
  color: #fff;
  font-size: 16px;
}

.search button:hover {
  background-color: #b2b1b3;
}

.right-column {
  margin: 40px 80px 20px 20px;
  width: calc(100% - 80px); /* Adjust to prevent overflow */
}

.left-column {
  margin: 40px 20px 20px 40px; 
}

.calendar-container {
  flex: 0 0 300px; /* Gives the calendar a fixed width */
  margin-right: 30px; /* Adds space between the calendar and the text blocks */
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

#calendar {
  margin-top: 0; /* Adjusts top margin to line up with the text blocks */
}

.block {
  padding: 15px;
}

.ministry {
  color: #626262;
}

.text-block, .text-block h1, .text-block h2, .text-block h3, .text-block p {
  margin-top: 0; /* Removes top margin from text block titles for alignment */
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.text-block {
  margin-bottom: 20px; /* Adds space between text blocks */
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

.text-block h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.text-block p, li {
  margin: 0; /* Removes default margin from paragraphs */
  font-size: 16px;
  text-align: justify;
}

.blocky div {
  font-size: 12px;
  padding: 20px;
}

.inline-links a {
  display: inline-block; 
  margin-right: 10px;    
}


.content p {
  margin-bottom: 20px; /* Adds space below each paragraph */
}

.blocky {
  margin-top: -10px;
  padding: 20px;
}

#loginButton {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding: 8px 15px; /* Adjust padding as needed */
  background-color: #569ff7; /* Background color of the button */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  right: 60px;
  width: 80px;
}

#loginButton:hover {
  background-color: #64b3f4; /* Darker background on hover */
}

/* When minimizing the width of the window the login */
/* button stops moving at a point */
@media (max-width: 1200px) {
  #loginButton {
    right: -20px;
  }
}

.filters {
  font-size: 14px;
  background-color: #fff;
  padding: 25px;
  width: 305px;
  box-shadow: 0 4px 4px rgba(111, 111, 111, 0.1);
}

.filters h2 {
  font-size: 22px;
  margin-bottom: -50px;
}

.filters h3 {
  font-size: 18px;
  margin-top: 60px;
}

.filter-option {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 17px;
}

.filter-option select {
  font-size: 17px;
  width: 145px;
}

.filters button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #569ff7;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.filters button:hover {
  background-color: #64b3f4;
}

/* Custom checkbox styling */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: rgb(0, 0, 0); /* Blue label text */
}

/* Hide the default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dadada;
  border-radius: 50%; /* Makes the checkbox circular */
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #569ff7;
}

/* Create the indicator (the dot) inside the checkbox */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot) */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.right-column button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #569ff7;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.right-column button.active {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #569ff7;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 10px; /* Adjusted to prevent overflow */
}

.right-column button:hover {
  background-color: #8fccff;
  color: white;
}